#wrapper
    {
        width: 100%;
      
    }

main
    {
        flex-direction: column;
    }  

    nav 
    {
        width: 100%;
        height:auto;
        display: flex;
        flex-direction: row;
        
    }
nav a 
    {
        margin:auto

    }
article 
    {
        text-align: justify;
        margin: auto;
        margin-bottom: 2em;
    }

aside
    {
        width: 100%;
        text-align:center;
        height:20em ;
       
    }

aside figure 
    {
       display:flex ;
       margin:auto;
      
       
    }
    
aside figcaption
        {
        margin:1 ;
        }
aside img
    {
        margin-right: 1.5em;
    }        